<style>
    .title{
        font-size: 50px;
        font-family: 'Times New Roman', Times, serif;
        color: black;
        margin-top: 10px;
        text-align: center;
        height:100px;
    }
    .image{
        margin-left: 50px;
        display:inline-block;
    }
    .login{
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        vertical-align: bottom;
        margin-left: 350px;
        
       
    }
   
   
    .username{
        margin-top: none;
    }
    .username,.password,.button,.email ,.phone {
        align-items: center;
        margin-bottom: 20px;
        height: 50px;
        width:200px;
        margin-left:300px;
        vertical-align: top;
        
    }
    .button{
        background-color: black;
        color: white;
        border-radius: 20px;
    }
    .block{
        display: grid;
        grid-template-columns: 400px 400px;
      
    }
    .button:hover{
       background-color: white;
       color: black;
    }
    body {
        background-image: url(pic2.png);
        background-size: cover; /* Cover ensures the image covers the whole background */
        background-position: center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    
</style>
<title>
    ps
</title>





<body style="background-image: url('https://plus.unsplash.com/premium_photo-1681276170683-706111cf496e?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');" >
   
        <p class="title">
            "DesignGen: Harnessing AI for Custom Pattern Creation"
        </p>
        
        <div class="block">
           
            <form class="b" action="/signup" method="POST">
                <p class="login">
                    SIGNUP
                </p> 
                <input class="username" type="text" name="username" placeholder="Enter username" required>
                <input class="password" type="password" name="password" placeholder="Enter password" required>
                <input class="email" type="email" name="email" placeholder="Enter email" required>
                <input class="phone" type="text" name="phoneNumber" placeholder="Enter phone number">
                <button class="button" type="submit">SIGNUP</button>   
            </form>
        </div>
   
</body>
